<div class="flex"><div id="dropArea">Drop or Click here!</div></div>
<canvas id="imageCanvas" width="600px" height="600px" style="width:300px;height:300px;"></canvas>
<%= hidden_field_tag "authenticity_token" form_authenticity_token %>
<!--<canvas id="imageCanvas" width="300px" height="300px"></canvas>-->
<!--<div class="flex"><img id="cropper_image" src="http://localhost:3000/images/token/5.jpg"></div>-->
<input id="fileInput" type="file">
<div><img id="filteredImg" src=""></div>
<div class="actionField flex">
  <a id="tokenizeBtn" class="button disabled">Tokenize</a>
  <a id="viewTokens" class="button">View</a>
</div>
<div class="token_list flex"></div>
